/*general styles*/

html {
    box-sizing: border-box;
}

body {
    padding: 3em;
    background-color: #ccc;
}

li {
    display: inline;
}

ul {
    padding: 0;
}


/*slideshow styles*/

.slideshow {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px black;
}

.slideshow-container {
  width: 3750px;
  height: auto;
  font-size: 0;
  transition: 1s ease;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

img {
  width: 625px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}


p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.slide {
  animation: slide 28.5s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  8.3% {
    transform: translateX(0%);
  }

  16.6% {
    transform: translateX(-16.6%);
  }

  24.9% {
    transform: translateX(-16.6%);
  }

  33.2% {
    transform: translateX(-33.2%);
  }

  41.5% {
    transform: translateX(-33.2%);
  }

  49.8% {
    transform: translateX(-49.8%);
  }

  58.1% {
    transform: translateX(-49.8%);
  }

  66.4% {
    transform: translateX(-66.4%);
  }

  74.7% {
    transform: translateX(-66.4%);
  }

  83% {
    transform: translateX(-83%);
  }

  91.3% {
    transform: translateX(-83%);
  }

  99% {
    transform: translateX(-83%);
  }
}
