@font-face {
    font-family: 'Knight-Brush';
    src: url('fonts/Knight-Brush.otf');
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}

h1 {
    display: inline-block;
    font-family: Knight-Brush;
    font-size: 80px;
    margin: 0px;
    border-style: solid;
    border-width: 10px;
    border-left: 0px;
    padding-right: 45px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    left: 0px;
}

header {
    padding: 5px 0px 15px;
    background-color: #6198A7;
}

header li {
    position: absolute;
    display: inline;
    list-style: none;
    text-align: center;
    top: 57px;
}

header ul {
    display: inline;
}

header a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

header a:hover {
    background-color: lightblue;
    transition: 0.3s;
}
