#corps article {
    display: inline-block;
    width: 600px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(255, 100, 100, 0.7);
    border-radius: 20px;
    padding: 7px 20px;
}

#corps article a {
    text-decoration: none;
    color: inherit;
}

#corps aside {
    text-align: center;
    float: right;
    margin: 15px 150px 10px 0px;
}

#corps aside ul {
    padding: 0;
    margin: 0;
}

#corps aside li {
    list-style: none;
    display: inline-block;
}

#corps aside #max {
    margin-right: 50px;
}

#corps aside img {
    display: block;
    border-radius: 20px;
}

#corps aside a {
    text-decoration: none;
    color: #e26f00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#corps h2 {
    text-align: center;
}

#corps strong {
    font-weight: bold;
}

@media screen and (max-width: 1320px) {
    #corps article {
        width: auto;
        margin-right: 10px;
    }

    #corps aside {
        display: block;
        float: none;
        text-align: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 565px)
{
    #corps aside {
        font-size: 4vw;
    }

    #corps aside img {
        width: 40vw;
    }

    #corps aside #max {
        margin-right: 5vw;
    }
}
