#bienvenue {
    display: inline-block;
    width: auto;
    margin: 10px 20px;
    background-color: rgba(255, 100, 100, 0.7);
    border-radius: 20px;
    padding: 7px 20px;
}

#corps h2 {
    text-align: center;
}

#corps strong {
    font-weight: bold;
}
