article img {
  width: 400px;
  position: relative;
  display: inline-block;
}

article ul {
  max-width: 300px;
  display: inline-block;
  text-align: right;
  margin-top: none;
}

/* temporaire */
#corps .pizza .ingredients:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 43%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgba(0, 0, 0, 0.7);
    border-bottom: 13px solid transparent;
}
