@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.ttf');
}

@font-face {
    font-family: 'MiraculousChristmas';
    src: url('fonts/MiraculousChristmas.ttf');
}

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -17%;
    font-family: Comfortaa;
    margin: 0px;
}

header {
    background-image: url("img/banniere.jpg");
}

#titre {
    margin: 0px;
    left: 0px;
    text-decoration: none;
}

#titre h1 {
    display: inline;
    position: relative;
    top: 8px;
    left: 10px;
    color: #e26f00;
    font-size: 80px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-family: MiraculousChristmas;
}

#titre img {
    float: left;
}

#search {
    display: inline;
    position: relative;
    bottom: 10px;
    left: 30px;
}

#search input {
    width: 40%;
    padding: 10px 15px;
}

#search a {
    position: relative;
    right: 4.5px;
    padding: 10px 12px;
    color: white;
    background-color: #ff7e00;
    margin: 0;
    transition: 0.5s;
}

#search a:hover, header #user .button:hover {
    background-color: #e26f00;
}

header #logoUser {
    position: absolute;
    top: 5px;
    right: 10px;
    text-shadow: -1px 0 #e26f00, 0 1px #e26f00, 1px 0 #e26f00, 0 -1px #e26f00;
}

header #user {
    position: absolute;
    display: inline;
    top: 14px;
    right: 1%;
    width: 300px;
    height: 95px;
    transition: 1s;
    padding: 5px;
}

header #user form {
    display: inline-block;
}

header #user label {
    float: left;
    color: #e26f00;
    width: 20px;
}

header #user .text {
    display: block;
    margin-bottom: 4px;
}

header #user .button {
    position: relative;
    left: 50px;
    border-radius: 12px 0;
	background: #ff7e00;
	border: none;
	color: #fff;
	font: bold 12px Verdana;
	padding: 6px;
    margin-top: 5px;
    transition: 0.5s;
}

header #user .button:hover {
    cursor: pointer;
}

header #user .button:active {
    top: 1px;
}

header #user a {
    position: relative;
    bottom: 35px;
    left: 25px;
    margin-right: 20px;
    color: #ff7e00;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    transition: 0.5s;
}

header #user a:hover {
    color: #e26f00;
}

header #user a img {
    border-radius: 20%;
}

header #user .panier {
    bottom: 50px;
    left: 222px;
}

nav {
    background-color: #6198A7;
    text-align: center;
}

nav li {
    margin-top: 30px;
    padding: 5px 0px;
    display: block;
    border-style: solid;
    border-width: 1px 0px;
    list-style: none;
    top: 57px;
}

nav ul {
    display: inline;
    padding: 0px;
}

nav a {
    padding: 5px 45px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: lightblue;
    transition: 0.3s;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

footer li {
    display: inline;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black
}
