#corps #head {
    display: block;
}

#corps #head h2 {
    font-size: 5vw;
    margin: 10px 0 0;
    color: red;
    text-shadow: -0.1vw 0 black, 0.1vw 0 black, 0 0.1vw black, 0 -0.1vw black;
}

#corps #head h4.petit {
    font-size: 1.5vw;
    margin: 0 0 5px;
}

#corps #client, #corps #invité {
    display: block;
}

#corps > section > h3 {
    font-size: 3.5vw;
    margin-bottom: 20px;
}

#corps .form form {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px #AB0F00;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 20px;
}

#corps .form label {
    display: block;
    color: red;
    margin-bottom: 5px;
    font-size: 80px;
    text-shadow: 1px 0 white, -1px 0 white, 0 -1px white, 0 1px white;
    font-family: MiraculousChristmas;
}

#corps .form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 800px;
    font-size: 20px;
    font-family: Comfortaa;
    border-radius: 10px;
    border: none;
}

#corps input.button {
    display: block;
    width: 30vw;
    margin: auto;
    font-family: Comfortaa;
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}

#corps input.button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #AB0F00;
    color: #AB0F00;
}

#corps .form label.paiement {
    font-family: Comfortaa;
    color: white;
    text-shadow: none;
    font-size: 30px;
    display: inline;
}

#corps .form input.paiement {
    display: inline;
    width: auto;
    margin-right: 40px;
    position: relative;
    bottom: 3px;
}

#corps .form #paiement {
    display: block;
}

@media screen and (max-width: 950px) {
    #corps {
        margin-left: 0;
        margin-right: 0;
    }

    #corps .texte {
        display: block;
        border-radius: 0;
        margin: 0;
    }

    #corps .form {
        display: block;
    }

    #corps .form form {
        width: auto;
        display: block;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    #corps .form input {
        width: 80vw;
        font-size: 2vw;
    }

    #corps input.button {
        margin: 20px auto;
    }

    #corps #head h4.petit {
        font-size: 15px;
    }
}

@media screen and (max-width: 660px) {
    #corps #head h2 {
        font-size: 35px;
    }

    #corps > section > h3 {
        font-size: 35px;
    }

    #corps .form label {
        font-size: 12vw;
    }

    #corps .form input {
        font-size: 15px;
    }

    #corps input.button {
        width: 300px;
        box-shadow: 0 0 20px #AB0F00;
        color: #AB0F00;
    }

    #corps .form label.paiement {
        font-size: 4.8vw;
    }

    #corps .form input.paiement {
        bottom: 0.1vw;
        margin-right: 1vw;
    }
}
